---
import SiteLayout from '../layouts/SiteLayout.astro';

---
<SiteLayout>
<h1>Welcome to my Blog</h1>
<p>This site is going to be where I host all of my thoughts on various topics. I have self-discovered that I have autism,
	which perfectly explains the various topics and interests I cycle through regularly. In other words, the only theme that
	will be consistent throughout this blog is that it is about things that I like!</p>
</SiteLayout>
