<nav>
	<p><strong>Chaos Control - Tyler's Chaotic Blog</strong></p>
	<ul style="list-style: none;">
		<li><a href="/">Home</a></li>
		<li><a href="/blog">Blog</a></li>
		<li>About</li>
		<li>GitHub</li>
	</ul>
</nav>
<style>
nav {
	display: flex;
	justify-content: space-between;
	max-width: 90%;
	margin-inline: 1rem;

	& > p {
		font-size: 1.5rem;
	}
}
ul {
	display: flex;
	gap: 1rem;
	justify-content: flex-end;
	
}
a {
	text-decoration: none;
	color: white;

	&:hover {
		text-decoration: underline;
	}
}
</style>
